*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  
}

h1 {
    text-align: center;

}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 100%, 34%);
    font-size: 18px;
    margin:10% auto;
    max-width: 800px;
    padding: 30px 40px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
} */

textarea {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  /* resize: none;
  overflow: hidden; */
}

.length {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.buttonGroup button {
  margin: 10px;
}